

:root {
    --first: #eeba0b ;
    --second: #c36f09 ;
    --third: #a63c06;
    

}


* {
    margin: 0;
    padding: 0;
}


body {
    background-color: var(--second);
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
    background-color: var(--first);
    box-shadow: 0 10px var(--third);
    height: 60px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 5%;
    gap: 30px
}

.presentation {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 921px;
    gap: 30px
}

.highlight {
    color: white;
}

.main__picture {
    height: 400px;
    width: 400px;
    object-fit: cover;
    box-shadow: 10px 10px var(--third)
}

.main__title {

    font-size: 50px;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;


}

.main__paragraph {

    font-size: 25px;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;


}

.main__products {
    background-color: var(--first);
    justify-content: space-between;
    display: grid;
    width: 881px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 30px;
    padding: 20px;
    margin: 20px;
    gap: 20px;
    box-shadow: var(--third) 10px 10px;



}

.main__products__product {
    background-color: white;
    height: 250px;
    display: flex;
    flex-direction: column;
    box-shadow: var(--third) 10px 10px;

    font-family: sans-serif;

}

.main__products__product:hover {
    background-color: rgb(177, 177, 177);
    height: 250px;
    display: flex;
    flex-direction: column;
    box-shadow: var(--third) 10px 10px;
    outline: solid black 1px;
    font-family: sans-serif;

}

.img_product {
    object-fit: cover;
    height: 180px;
    width: 205.250px;
    border-bottom: solid 1px var(--third);


}


.buyButton {
    background-color: rgb(0, 255, 21);
    text-align: center;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    width: 100px;
    margin: auto;

    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.main__products__seeMore {
    grid-column-start: 1;
    grid-column-end: 5;
    display: flex;
    justify-content: center;
}


.main__costumers {

    background-color: var(--first);
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    box-shadow: var(--third) 10px 10px;
    width: 881px;

}

.main__costumers__avaliations {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.main__costumers__avaliations__pins {
    height: 100px;
    filter: drop-shadow( var(--third) 5px 5px);
}

.main__costumers__avaliations__comments {
    padding: 10px;
    background-color: white;
    box-shadow: var(--third) 10px 10px;
    border-radius: 0 30px 30px 30px;
    width: 100%;
    font-family: sans-serif;
}

footer {

    bottom: 0;
    background-color: var(--third);
    height: 30vh;
    
}



@media(max-width:1020px) {

:root {
    --first: #eeba0b ;
    --second: #c36f09 ;
    --third: #a63c06;
    

}


* {
    margin: 0;
    padding: 0;
}


body {
    background-color: var(--second);
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
    background-color: var(--first);
    box-shadow: 0 10px var(--third);
    height: 60px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 5%;
    gap: 30px
}

.presentation {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 90%;
    gap: 30px
}

.highlight {
    color: white;
}

.main__picture {
    align-self: center;
    height: 200px;
    object-fit: cover;
    box-shadow: 10px 10px var(--third)
}

.main__title {

    font-size: 2rem;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;


}

.main__paragraph {

    font-size: 1.5rem;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;


}

.main__products {
    background-color: var(--first);
    justify-content:space-evenly;
    display: flex;
    flex-wrap:wrap;
    width: 90%;
    padding: 20px;
    gap: 20px;
    box-shadow: var(--third) 10px 10px;



}

.main__products__product {
    background-color: white;
    height: 15.6rem;
    display: flex;
    flex-direction: column;
    box-shadow: var(--third) 10px 10px;

    font-family: sans-serif;

}

.main__products__product:hover {
    background-color: rgb(177, 177, 177);
    height: 15.6rem;
    display: flex;
    flex-direction: column;
    box-shadow: var(--third) 10px 10px;
    outline: solid black 1px;
    font-family: sans-serif;

}

.img_product {
    object-fit: cover;
    height: 11.15rem;
    width: 12.8rem;
    border-bottom: solid 1px var(--third);


}


.buyButton {
    background-color: rgb(0, 255, 21);
    text-align: center;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    width: 100px;
    margin: auto;

    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.main__products__seeMore {
    width: 80%;
    display: flex;
    justify-content: center;
}


.main__costumers {

    background-color: var(--first);
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    box-shadow: var(--third) 10px 10px;
    width: 90%;

}

.main__costumers__avaliations {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.main__costumers__avaliations__pins {
    height: 4rem;
    filter: drop-shadow( var(--third) 5px 5px);
}

.main__costumers__avaliations__comments {
    padding: 10px;
    background-color: white;
    box-shadow: var(--third) 10px 10px;
    border-radius: 0 30px 30px 30px;
    width: 100%;
    font-family: sans-serif;
}

footer {

    bottom: 0;
    background-color: var(--third);
    height: 30vh;
    
}


}