* {
    margin: 0;
    padding: 0;
}


body {
    background-color: #c36f09;
    height: 100%;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
    background-color: #eeba0b;
    box-shadow: 0 10px #a63c06;
    height: 60px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 5%;
    gap: 30px
}

.presentation {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 921px;
    gap: 30px
}

.highlight {
    color: white;
}

.main__picture {
    height: 400px;
    width: 400px;
    object-fit: cover;
    box-shadow: 10px 10px #a63c06
}

.main__title {

    font-size: 50px;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;


}

.main__paragraph {

    font-size: 25px;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;


}

.main__products {
    background-color: #eeba0b;
    justify-content: space-between;
    display: grid;
    width: 881px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 30px;
    padding: 20px;
    margin: 20px;
    gap: 20px;
    box-shadow: #a63c06 10px 10px;



}

.main__products__product {
    background-color: white;
    height: 250px;
    display: flex;
    flex-direction: column;
    box-shadow: #a63c06 10px 10px;

    font-family: sans-serif;

}

.img_product {
    object-fit: cover;
    height: 180px;
    width: 205.250px;
    border-bottom: solid 1px #a63c06;


}

.buyButton {
    background-color: rgb(0, 255, 21);
    text-align: center;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    width: 100px;
    margin: auto;

    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.main__products__seeMore {
    grid-column-start: 1;
    grid-column-end: 5;
    display: flex;
    justify-content: center;
}


.main__costumers {

    background-color: #eeba0b;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    box-shadow: #a63c06 10px 10px;
    width: 881px;

}

.main__costumers__avaliations {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.main__costumers__avaliations__pins {
    height: 100px;
    filter: drop-shadow( #a63c06 5px 5px);
}

.main__costumers__avaliations__comments {
    background-color: white;
    box-shadow: #a63c06 10px 10px;
    border-radius: 0 30px 30px 30px;
    width: 100%;
    font-family: sans-serif;
}

footer {
    width: 100%;
    bottom: 0;
    background-color: #a63c06;
    height: 30vh;
    
}
